@* @model LamaGraphic.Core.DTOs.ForgotPasswordDto
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}
@section MetaTag
    {
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex,nofollow">

}
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Eshop Management</a></li>
            <li class="breadcrumb-item" aria-current="page">بازیابی کلمه عبور</li>
        </ul>
    </nav>

</div>
<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
            </div>


        }
        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">

                </div>
                <span asp-validation-for="Email"></span>


                <button class="btn btn-success"> تایید و ارسال </button>

            </form>
        </div>

    </div>
</main>
 *@