@using EShopManagement.Application.Queries.User
@using Microsoft.AspNetCore.Http
 @model LoginUser
@{
    ViewData["Title"] = "Login";
}
 
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Eshop Management</a></li>
            <li class="breadcrumb-item" aria-current="page">Login</li>
        </ul>
    </nav>
</div>
<main class="client-page">
    <div class="container-content">
      
 
        <header style="color : #2ec4b6 "><h2> Login </h2></header>

        <div class="form-layer">

            <form asp-action="Login" method="post">
                <span asp-validation-for="UserNameOrEmail"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="UserNameOrEmail" type="text" class="form-control" placeholder="Email or UserName" aria-describedby="email-address">

                </div>
               
                <span asp-validation-for="Password"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-describedby="password">

                </div>
                
                <div class="remember-me">
                    <label><input asp-for="RememberMe" type="checkbox" name="rememberMe">Remember Me </label>
                </div>

                <div class="link">
                    <a href="/ForgotPassword"> <i class="zmdi zmdi-lock"></i> I forgot my password !</a>
                    <a href="/Register"> <i class="zmdi zmdi-account"></i> Register</a>
                </div>

                <button class="btn btn-success"> Login </button>

            </form>
        </div>

    </div>
</main>
