@* @model LamaGraphic.Core.DTOs.ResetPasswordDto
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}
@section MetaTag
    {
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="robots" content="noindex,nofollow">

}
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Eshop Management</a></li>
            <li class="breadcrumb-item" aria-current="page">بازیابی کلمه عبور</li>
        </ul>
    </nav>
</div>
<main class="client-page">
    <div class="container-content">

        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">

                <input type="hidden" asp-for="ActiveCode" />

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور " aria-describedby="password">
                </div>


                <div asp-validation-summary="All" class="text-danger">

                </div>
                <button class="btn btn-success"> ثبت تغییرات </button>

            </form>
        </div>

    </div>
</main> *@