@using EShopManagement.Application.DTOs.User.Client
@model ClientEditUserPasswordDto
@{
    ViewData["Title"] = "Change Password";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">EShopManagement</a></li>
            <li class="breadcrumb-item" aria-current="page"> Change Password </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> Change Password </h1></header>
                        <div class="inner form-layer">
                            <form asp-action="ChangePassword" method="post">
                                <input type="hidden" asp-for="UserId" />
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-key"></i></span>
                                            <input type="password" class="form-control" asp-for="OldPassword" placeholder="Current PAssword" aria-describedby="OldPassword">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                            <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" aria-describedby="NewPassword">
                                        </div>
                                    </div>
                             
                                    <div class="text-danger" asp-validation-summary="All"></div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success"> Change Password </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

