

<div style="direction: rtl; padding: 20px">
    <h2>@User.Identity.Name عزیز !</h2>
    <p>با تشکر از ثبت نام شما در Eshop Management ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        @* //TODO *@
        <a href="/Account/ActiveAccount/Model.ActiveCode">برای فعال سازی اینجا کلیک کنید</a>
    </p>
    </div>
