<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع به فایل ها</h4></header>
                        <ul>
                            <li><a href="/Product">مشاهده تمامی فایل ها</a></li>
                            <li><a href="/Product?pageId=1&filter=&getType=buy&orderByType=date">مشاهده تمامی محصولات</a></li>
                        </ul>

                    </section>
                </div>   
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع به خدمات</h4></header>
                        <ul>
                            <li><a href="/about-us">درباره Eshop Management</a></li>
                            <li><a href="/contact-us">ارتباط با پشتیبانی</a></li>
                            <li><a href="/contact-us"> سفارش طراحی به Eshop Management </a></li>

                        </ul>

                    </section>
                </div>

            </div>
            </div>
        </div>

    <div class="bottom-footer">
        <div class="container">
            <p>
                تمامی حقوق مادی و معنوی این قالب متعلق به <a href=""> Eshop Management </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
            </p>
        </div>
    </div>
</footer>