 

<div style="direction: rtl; padding: 20px">
    <h2>@User.Identity.Name عزیز !</h2>
    <p>
       جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید
    </p>
    <p>
        @* //TODO *@
        <a href="https://lamagraphic.ir/Account/ResetPassword/Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>
